/* Navbar Styling */
nav {
  background-color: #333;
  font-family: 'Arial', sans-serif;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  position: relative;
}

nav ul li a {
  display: block;
  padding: 15px 20px;
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #575757;
}

/* Dropdown Menu */
nav ul ul {
  display: none;
  position: absolute;
  background-color: #333;
  top: 100%;
  left: 0;
  width: 200px;
  z-index: 1000;
}

nav ul ul li {
  width: 100%;
}

nav ul ul li a {
  padding: 10px 20px;
}

nav ul ul li a:hover {
  background-color: #575757;
}

/* Show Dropdown Menu on Hover */
nav ul li:hover>ul {
  display: block;
}

/* Responsive Design */
@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
  }

  nav ul ul {
    position: static;
  }

  nav ul li {
    width: 100%;
  }
}

video {
  justify-content: center;
  align-items: center;
  width: 100%;
}

h1 {
  margin: 20px;
  text-align: center;
}

.carousel {
  width: 1200px;
  display: flex;
  margin: 0 150px;
}

#title {
  font-size: 25px;
  fill: black;
}

.land {
  fill: #ffffff;
  stroke: black;
  stroke-width: 1;
  stroke-miterlimit: 1;
}

path:hover,
path active {
  fill: orange;
}


.tooltip {
  font-size: 16px;
  font-weight: bold;
}

.tooltip_bg {
  fill: white;
  stroke: black;
  stroke-width: 1;
  opacity: 0.85;
}

.label {
  font-size: 17px;
}

#border {
  fill: none;
  stroke: black;
  stroke-width: 1;
}

#map {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 50px;
  border: 5px black solid;
  background-image: url("assets/flag.jpg");
  background-position: center;
  height: 80%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 10px;
}

#description {
  flex: 2;
  border: #ffffff solid 5px;
  background-color: #ffffff;
  text-align: center;
  border-radius: 50px;
  padding: 40px;
  min-width: 100px;
  height: 650px;
}

/* Google Fonts - Poppins */




::-webkit-scrollbar {
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 25px;
}

::-webkit-scrollbar-thumb {
  background: #6e93f7;
  border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4070f4;
}

.container {
  display: flex;
  gap: 12px;
  max-width: 400px;
  width: 100%;
  background: #4070f4;
  border-radius: 12px;
  padding: 30px;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  scroll-padding: 30px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}



/* contact us */
@media screen and (max-width: 550px) {
  .carousel img{
    width: 100%;
  }
}
.card-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    max-width: 1250px;
    margin: 50px auto;
    padding: 20px;
    gap: 20px;
}

.card-list .card-item {
    background: #fff;
    padding: 26px;
    border-radius: 8px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.04);
    list-style: none;
    cursor: pointer;
    text-decoration: none;
    border: 2px solid transparent;
    transition: border 0.5s ease;
}
.card-item{
    height: 100%;
}

.card-list .card-item:hover {
    border: 2px solid #000;
}

.card-list .card-item img {
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 8px;
    object-fit: cover;
}

.card-list span {
    display: inline-block;
    background: #F7DFF5;
    margin-top: 32px;
    padding: 8px 15px;
    font-size: 0.75rem;
    border-radius: 50px;
    font-weight: 600;
}

.card-list .developer {
    background-color: #F7DFF5; 
    color: #B22485;
}   

.card-list .designer {
    background-color: #d1e8ff;
    color: #2968a8;
}

.card-list .editor {
    background-color: #d6f8d6; 
    color: #205c20;
}

.card-item h3 {
    color: #000;
    font-size: 1.438rem;
    margin-top: 28px;
    font-weight: 600;
}

.card-item .arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-35deg);
    height: 40px;
    width: 40px;
    color: #000;
    border: 1px solid #000;
    border-radius: 50%;
    margin-top: 40px;
    transition: 0.2s ease;
}

.card-list .card-item:hover .arrow  {
    background: #000;
    color: #fff; 
}
@media (max-width: 1200px) {
  .card-list .card-item {
      padding: 15px;
  }
}

@media screen and (max-width: 980px) {
  .card-list {
      margin: 0 auto;
  }
}
/* Footer */
#foot {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
footer ,.bottom{
  font-size: large;
}
.bottom {
  float: left;

  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 30px 40px;
  text-decoration: none;
}
.bottom:hover {
  background-color: #111;
}

Footer{
  background-color: 000;
  padding: 10px 100px;
  
}